{% extends 'bases/base.html' %}

{% block title %}Editar Perfil{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="conte-LR">
    <h2>Editar Perfil</h2>
    <form method="post" autocomplete="off">
      {% csrf_token %}
      {{form}}
      <button type="submit" class="">Actualizar</button>
      <button class="">
        <a href="{% url 'perfil' %}" class="">Volver</a>
      </button>
    </form>
  </div>

    {% if errores %}
        <article class="message is-danger">
            <div class="message-header">
            <p>Ocurrió un error</p>
            </div>
            <div class="message-body">
            <ul>
                {% for error in errores %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            </div>
        </article>
    {% endif %}

{% endblock %}
