{% extends 'bases/base.html' %}


{% block title %}inicio{% endblock %}

{% block content %}
 <h1>Hola y bienvenido {{ nombre }}</h1>

<section id="proyecto">
      <h2>¿De que trata nuestro proyecto?</h2>
      <h3>Metodo de Iteracion de punto fijo</h3>
      <p>
        El método de iteración de punto fijo es una técnica numérica utilizada para encontrar 
        soluciones aproximadas a ecuaciones no lineales. Consiste en reescribir la ecuación en la 
        forma \(x = g(x)\) y luego iterar a partir de un valor inicial \(x_0\) para obtener una 
        sucesión que converge a la solución deseada. Este método es especialmente útil cuando la 
        función \(g(x)\) es continua y cumple ciertas condiciones de contracción, lo que garantiza 
        la convergencia de la iteración.
      </p>
      <br>
      <h3>Integracion numerica - Integracion compuesta</h3>
      <p>
        La integración numérica es una técnica utilizada para calcular el valor aproximado de 
        integrales definidas cuando no se puede encontrar una solución analítica. La integración 
        compuesta es un método que divide el intervalo de integración en subintervalos más pequeños 
        y aplica un método de integración (como el trapecio o Simpson) a cada subintervalo, sumando 
        los resultados para obtener una aproximación más precisa del valor total de la integral.
      </p>
    </section>

    <section id="integrantes">
      <h2>Integrantes del proyecto</h2>
      <div class="cards-container">
        <div class="card">
          <img src="C:\Users\josue\OneDrive\Pictures\Screenshots\Captura de pantalla 2024-08-19 101814.png" alt="Manuel Melendez" width="500" height="600">
          <h3>Carlos Manuel Melendez Argueta - MV23036</h3>
          <h5>Desarrollo punto fijo</h5>
          <h5>Desarrollo interfaces</h5>
        </div>
        <div class="card">
          <img src="C:\Users\josue\OneDrive\Pictures\Screenshots\Captura de pantalla 2024-08-19 101814.png" alt="Adan Quevedo" width="500" height="600">
          <h3>Adan Omar Quevedo Argueta - QA21002</h3>
          <h5>Desarrollo integracion numerica</h5>
          <h5>Desarrollo interfaces</h5>
        </div>
        <div class="card">
          <img src="C:\Users\josue\OneDrive\Pictures\Screenshots\KevinVillalta.jpg" alt="KevinVillalta" width="500" height="600">
          <h3>Kevin Josué Cruz Villalta - CV22054</h3>
          <h5>Gestion usuarios</h5>
          <h5>Desarrollo interfaces</h5>
        </div>
      </div>
    </section>

{% endblock %}