{% extends 'bases/base.html' %}

{% block title %}punto fijo{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<section class="perfil-contenedor">
  <h1 class="titulo">Perfil de Usuario</h1>
  <div class="perfil-ED">
    <div class="perfil-datos">
      <h5>Nombre: {{ usuario.nombre }}</h5>
      <h5>Usuario: {{ usuario.user }}</h5>
      <h5>E-mail: {{ usuario.email }}</h5>
    </div>
    <button class="btn-editar">
      <a href="{% url 'editarPerfil' usuario.id %}" class="">Editar</a>
      
    </button>
  </div>
<nav class="tabs">
  <a href="#" onclick="mostrarMetodo('metodo1', this)">Método 1</a>
  <a href="#" onclick="mostrarMetodo('metodo2', this)">Método 2</a>
</nav>

<div id="metodo1" class="contenido-metodo visible">
 {% if historial %}
  <div class="tabla-contenedor">
    <table class="tabla">
      <thead>
        <tr>
          <th>Función</th>
          <th>x₀</th>
          <th>Iteración</th>
          <th>Decimal</th>
          <th>Error final</th>
          <th>Resultado</th>
          <th>Error (%)</th>
          <th>Fecha</th>
          <th>iteracion</th>
          <th>mandar</th>
        </tr>
      </thead>
      <tbody>
      {% for h in historial %}
        <tr>
          <td>{{ h.funcion }}</td>
          <td>{{ h.x0 }}</td>
          <td>{{ h.n_iteraciones }}</td>
          <td>{{ h.decimales }}</td>
          <td>{{ h.error_final }}</td>
          <td>{{ h.resultado_final }}</td>
          <td>{{ h.error_Calculado }}</td>
          <td>{{ h.fecha|date:"d/m/Y H:i" }}</td>
          <td ><button class="boton-ver" onclick="toggleTodo({{ forloop.counter }})">Ver</button></td>
          <td>
<a href="{% url 'metodo1_usuario' %}?funcion={{ h.funcion|urlencode }}&x0={{ h.x0 }}&nIteraciones={{ h.n_iteraciones }}&decimales={{ h.decimales }}&error_final={{ h.error_final }}" class="boton-ver">mandar</a>





</td>

        </tr>

       <tr id="detalles-{{ forloop.counter }}" class="fila-oculta fila-expandible">
  <td colspan="10">
    <div class="iteraciones-scroll">
      <strong>Iteraciones:</strong>
      <table class="subtabla">
        <thead>
          <tr>
            <th>#</th>
            <th>x anterior</th>
            <th>x nueva</th>
            <th>Error (%)</th>
          </tr>
        </thead>
        <tbody>
          {% for iter in h.iteraciones.all %}
          <tr>
            <td>{{ iter.numero_iteracion }}</td>
            <td>{{ iter.x_anterior }}</td>
            <td>{{ iter.x_nueva }}</td>
            <td>{{ iter.error }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div style="margin-top: 20px; text-align: center;">
      {% if h.imagen %}
        <img src="{{ h.imagen.url }}" alt="Gráfica del método" style="max-width: 400px; border: 1px solid #ccc; padding: 5px;">
      {% else %}
        <p style="color: gray;">No se ha generado gráfica.</p>
      {% endif %}
    </div>
  </td>
</tr>


      {% endfor %}
      
      </tbody>
    </table>
  </div>
  {% else %}
    <p>No hay historial disponible.</p>
  {% endif %}

</div>

<div id="metodo2" class="contenido-metodo">
  {% if histoM %}
  <div class="tabla-contenedor">
    <table class="tabla">
      <thead>
        <tr>
          <th>Función</th>
          <th>Area I</th>
          <th>Area T</th>
          <th>Area TC</th>
          <th>error T</th>
          <th>error TC</th>
          <th>n seg</th>
          <th>decimales</th>
          <th>Fecha</th>
          <th>Botón</th>
        </tr>
      </thead>
      <tbody>
        {% for h in histoM %}
        <tr>
          <td>{{ h.funcion }}</td>
          <td>{{ h.AreaI }}</td>
          <td>{{ h.AreaT }}</td>
          <td>{{ h.AreaTC }}</td>
          <td>{{ h.errorT }}</td>
          <td>{{ h.errorTC }}</td>
          <td>{{ h.n_espacios }}</td>
          <td>{{ h.decimales }}</td>
          <td>{{ h.fecha|date:"d/m/Y H:i" }}</td>
          <td>
            <button class="boton-ver" onclick="toggleValores('valores-{{ forloop.counter }}')">
              Ver
            </button>
          </td>
        </tr>

       <tr id="valores-{{ forloop.counter }}" class="fila-oculta fila-expandible">
          <td colspan="9">
            <div class="iteraciones-scroll">
              <strong>Valores:</strong>
              <table class="subtabla">
                <thead>
                  <tr>
                    <th>valor f</th>
                    <th>valor seg</th>
                  </tr>
                </thead>
                <tbody>
                  {% for iter in h.valores.all %}
                  <tr>
                    <td>{{ iter.valorF }}</td>
                    <td>{{ iter.valorH }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p>No hay historial disponible.</p>
  {% endif %}
</div>


{% if historial.imagen %}
  <h3>Gráfica guardada:</h3>
  <img src="{{ historial.imagen.url }}" alt="Gráfica del método">
{% endif %}

 
<script>

function mostrarMetodo(id, enlace) {
  // Oculta todos los divs
  document.querySelectorAll('.contenido-metodo').forEach(div => {
    div.classList.remove('visible');
  });

  // Elimina clase activa de todos los links
  document.querySelectorAll('.tabs a').forEach(a => {
    a.classList.remove('activo');
  });

  // Muestra el div correspondiente
  document.getElementById(id).classList.add('visible');
  enlace.classList.add('activo');
  
}
function toggleTodo(id) {
  const fila = document.getElementById("detalles-" + id);
  fila.classList.toggle("fila-visible");
  fila.classList.toggle("fila-oculta");
}

function llenarFormulario(funcion, x0, iteraciones, decimales, errorFinal) {
  document.getElementById('campo-funcion').value = funcion;
  document.getElementById('campo-x0').value = x0;
  document.getElementById('campo-iteraciones').value = iteraciones;
  document.getElementById('campo-decimales').value = decimales;
  document.getElementById('campo-error').value = errorFinal;
  
  // Puedes hacer que el formulario se envíe automáticamente si deseas:
  // document.querySelector("form").submit();
}

</script>

{% endblock %}
