{% extends 'bases/base.html' %}

{% block title %}punto fijo{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %} 

{% block content %}

<div class="conte-LR">
 <h1>Método de Punto Fijo</h1>

    <form method="post" class="form-LR">
    {% csrf_token %}
      <div class="login">
    
    <label for="funcion" class="login_I">Ecuación g(x):</label> 
    <input id="campo-funcion" class="login_R" type="text" name="funcion" value="{{ funcion|default:'E**-x' }}">
<br>

    <label for="x0" class="login_I">x₀:</label>
    <input id="campo-x0" type="number" class="login_R" name="x0" value="{{ x0 }}" step="any">
<br>
    <label for="nIteraciones" class="login_I">Iteraciones:</label>
    <input id="campo-iteraciones" class="login_R" type="number" name="nIteraciones" value="{{ nIteraciones }}">
<br>
    <label for="decimales" class="login_I">Decimales:</label> 
    <input id="campo-decimales" type="number" class="login_R" name="decimales" value="{{ decimales }}">
<br>
    <label for="error_final" class="login_I">Error final:</label> <!--mayor a 0-->
    <input id="campo-error" type="number" class="login_R" name="error_final" value="{{ error_final }}" step="any">
<br>
      </div>
    <button type="submit">Calcular</button>
  </form>
</div>
{% if errores %}
  <article class="message is-danger">
    <div class="message-header">
      <p>Ocurrió un error</p>
    </div>
    <div class="message-body">
      <ul>
        {% for error in errores %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </article>
{% endif %}



{% if resultado is not None and not errores %}


    <h2>Resultado:</h2>

    <h2>x = {{ resultado }}</h2>
    <h2>Error = {{ error_Calculado }} % </h2>
    <h3>Iteraciones:</h3>
    <table border="1">
        <tr>
            <th>n</th><th>x</th><th>Error (%)</th>
        </tr>
        {% for fila in iteraciones %}
    <tr>
        <td>{{ forloop.counter }}</td>  <!-- Número de iteración -->
        <td>{{ fila.0 }}</td>            <!-- x anterior -->
        <td>
  {% if fila.1 is None %}
    demasiado grande
  {% else %}
    {{ fila.1 }}
  {% endif %}
</td>

            
    </tr>
      {% endfor %}

    </table>
    <h3>Gráfica:</h3>
    <img src="{% static 'metodos/grafica_punto_fijo.svg' %}" alt="Gráfica del método de punto fijo" style="width:100%; max-width:800px;">

    {% endif %}



{% endblock %}