{% extends 'bases/base.html' %}

{% block title %}Iniciar seción{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

  <h2>Iniciar sesión</h2>
  <form method="post" class="login">
      {% csrf_token %}
      <label for="user" class="login_I">Usuario:</label>
      <input type="text" name="user" placeholder="Nombre" class="login_R" required><br>

      <label for="password" class="login_I">Contraseña:</label>
      <input type="password" name="password" placeholder="Contraseña" class="login_R" required><br>

      <button type="submit" class="login_R login_B">Entrar</button>
  </form>

  {% if messages %}
    {% for message in messages %}
      <p style="color:red;">{{ message }}</p>
    {% endfor %}
  {% endif %}


{% endblock %}
