{% extends 'bases/base.html' %}

{% block title %}Iniciar seción{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

  <div class="conte-LR">
    <h2>Registrarse</h2>
    <form method="post" class="form-LR">
      <div class="registro">
        {% csrf_token %}
        <label for="nombre" class="login_I">Nombre:</label>
        <input type="text" name="nombre" class="login_R" placeholder="Nombre"><br>
        <label for="user" class="login_I">Usuario:</label>
        <input type="text" name="user" class="login_R" placeholder="Usuario"><br>
        <label for="email" class="login_I">E-mail:</label>
        <input type="email" name="email" class="login_R" placeholder="Correo"><br>
        <label for="password" class="login_I">Contraseña:</label>
        <input type="password" name="password" class="login_R" placeholder="Contraseña"><br>
      </div>
      <button type="submit" class="btn-login">Crear cuenta</button>
    </form>
  </div>

  {% if error %}
    {% for message in error %}
      <p style="color:red;">{{ message }}</p>
    {% endfor %}
  {% endif %}


{% endblock %}
