.login {
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 2;
    max-width: 600px;
}

.login_I {
    grid-column-start: 1;
}

.login_R {
    grid-column-start: 2;
}

.login_B {
    grid-column-start: 2;
}