{% extends 'bases/base.html' %}


{% block title %}punto fijo{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %} 

{% block content %}
<div class="conte-LR">
 <h1>Método de Punto Fijo</h1>

    <form method="post" class="form-LR">
    {% csrf_token %}
      <div class="login">
        <label for="funcion" class="login_I">Ecuación g(x):</label>
        <input type="text" name="funcion" class="login_R" value="{{ funcion|default:'E**-x' }}"> <!-- no vacio-->

        <label for="x0" class="login_I">x₀:</label>
        <input type="number" name="x0" class="login_R" value="{{ x0 }}" step="any"><br> <!-- no vacio-->

        <label for="error_final" class="login_I">Error final:</label>
        <input type="number" name="error_final" class="login_R" value="{{ error_final }}" step="any"><br> <!--mayor a 0-->
      </div>
        <button type="submit">Calcular</button>
    </form>
</div>

    {% if errores %}
  <ul class="has-text-danger">
    {% for error in errores %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}




{% if resultado is not None and not errores %}
    <h2>Resultado:</h2>

    <h2>x = {{ resultado }}</h2>
    <h2>Error = {{ error }} % </h2>
    
    <h3>Gráfica:</h3>
    <img src="{% static 'metodos/grafica_punto_fijo.svg' %}" alt="Gráfica del método de punto fijo" style="width:100%; max-width:800px;">


    {% endif %}

{% endblock %}